In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

c:\users\personal\appdata\local\programs\python\python38\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\users\personal\appdata\local\programs\python\python38\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
c:\users\personal\appdata\local\programs\python\python38\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
import imblearn

In [3]:
data = pd.read_csv('customer.csv')

In [4]:
data.head()  #I am gonna choose gender as my dependent varaiable

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [5]:
x = data.iloc[:,2:5]
y = data.iloc[:,1]

In [6]:
x.head()

   Age  Annual Income (k$)  Spending Score (1-100)
0   19                  15                      39
1   21                  15                      81
2   20                  16                       6
3   23                  16                      77
4   31                  17                      40

In [7]:
y.head

<bound method NDFrame.head of 0        Male
1        Male
2      Female
3      Female
4      Female
        ...
195    Female
196    Female
197      Male
198      Male
199      Male
Name: Gender, Length: 200, dtype: object>

In [8]:
pd.value_counts(y)   # Actually it's not an immbalanced dataset just for learning purpose I use this

Female    112
Male       88
Name: Gender, dtype: int64

In [9]:
x.shape , y.shape

((200, 3), (200,))

In [10]:
Male = data[data['Gender']=='Male']

In [11]:
Female = data[data['Gender']=='Female']

# Under Sampling

In [12]:
from imblearn.under_sampling import NearMiss

In [19]:
nr = NearMiss()

In [22]:
x_bal,y_bal = nr.fit_resample(x,y)

In [24]:
x_bal.shape,y_bal.shape

((176, 3), (176,))

In [26]:
pd.value_counts(y_bal)   # Now it balanced

Male      88
Female    88
Name: Gender, dtype: int64

# Over Sampling

In [27]:
from imblearn.combine import SMOTETomek

In [28]:
sm = SMOTETomek()

In [31]:
x_b,y_b = sm.fit_resample(x,y)

In [32]:
x_b.shape,y_b.shape

((186, 3), (186,))

In [33]:
pd.value_counts(y_b)

Male      93
Female    93
Name: Gender, dtype: int64